<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>French</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>uni</string>
				<string>UNI</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>kMacMapStatsUNIBundle</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>uni_</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>biv</string>
				<string>BIV</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>kMacMapStatsBIVBundle</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>biv_</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pca</string>
				<string>PCA</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>kMacMapStatsPCABundle</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>pca_</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fca</string>
				<string>FCA</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>kMacMapStatsFCABundle</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fca_</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hca</string>
				<string>HCA</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>kMacMapStatsHCABundle</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>hca_</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ira</string>
				<string>IRA</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>kMacMapStatsIRABundle</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ira_</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mmx</string>
				<string>MMX</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>kMacMapStatsMMXBundle</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>mmx_</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cls</string>
				<string>CLS</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>kMacMapStatsCLSBundle</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>cls_</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>knd</string>
				<string>KND</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>kMacMapStatsKindBundle</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>knd_</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>MacMapStats</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.bob.macmapstats</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.0</string>
	<key>CFBundleSignature</key>
	<string>BoB!</string>
	<key>CFBundleVersion</key>
	<string>2.1.0</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
